.custom-check-dropdown-list-holder {
    position: absolute;
    z-index: 9999;
    background: white;
    width: max-content;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}